<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.warehouse.mapper.branch.BsBranchCampusGoodsMapper" >
  <resultMap id="BaseResultMap" type="com.warehouse.pojo.branch.BsBranchCampusGoods" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="goodsId" property="goodsid" jdbcType="INTEGER" />
    <result column="campusId" property="campusid" jdbcType="INTEGER" />
    <result column="branchId" property="branchid" jdbcType="INTEGER" />
    <result column="state" property="state" jdbcType="BIT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, goodsId, campusId, branchId, state
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from bs_branch_campus_goods
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from bs_branch_campus_goods
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.warehouse.pojo.branch.BsBranchCampusGoods" >
    insert into bs_branch_campus_goods (id, goodsId, campusId, 
      branchId, state)
    values (#{id,jdbcType=INTEGER}, #{goodsid,jdbcType=INTEGER}, #{campusid,jdbcType=INTEGER}, 
      #{branchid,jdbcType=INTEGER}, #{state,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.warehouse.pojo.branch.BsBranchCampusGoods" >
    insert into bs_branch_campus_goods
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="goodsid != null" >
        goodsId,
      </if>
      <if test="campusid != null" >
        campusId,
      </if>
      <if test="branchid != null" >
        branchId,
      </if>
      <if test="state != null" >
        state,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="goodsid != null" >
        #{goodsid,jdbcType=INTEGER},
      </if>
      <if test="campusid != null" >
        #{campusid,jdbcType=INTEGER},
      </if>
      <if test="branchid != null" >
        #{branchid,jdbcType=INTEGER},
      </if>
      <if test="state != null" >
        #{state,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.warehouse.pojo.branch.BsBranchCampusGoods" >
    update bs_branch_campus_goods
    <set >
      <if test="goodsid != null" >
        goodsId = #{goodsid,jdbcType=INTEGER},
      </if>
      <if test="campusid != null" >
        campusId = #{campusid,jdbcType=INTEGER},
      </if>
      <if test="branchid != null" >
        branchId = #{branchid,jdbcType=INTEGER},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.warehouse.pojo.branch.BsBranchCampusGoods" >
    update bs_branch_campus_goods
    set goodsId = #{goodsid,jdbcType=INTEGER},
      campusId = #{campusid,jdbcType=INTEGER},
      branchId = #{branchid,jdbcType=INTEGER},
      state = #{state,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>